<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/inicio.css">
    <title>BACKTRACK</title>
</head>

<body>
    <header>
        <div class="menu-content">
            <h1 class="logo">BACKTRACK</h1>
            <nav class="header-menu">
                <ul class="list-itens">
                    <li><a class="nav-link active" href="/inicio">Início</a></li>
                    <li><a class="nav-link" href="/sobre">Sobre</a></li>
                    <li><a class="nav-link" href="/cadastro">Cadastro</a></li>
                    <li><a class="nav-link" href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="main-content">
            <h1 class="primary-text"><span>Backtrack</span>, a melhor experiência musical !</h1>
            <h2 class="second-text">Facilitando as rotinas do seu estúdio</h2>
            <div id="lerMais">
                <p class="lead" id=""></p>
                <div class="btns">
                    <p class="lead-mais">
                        <button class="btn-exp" id="lerMais" onclick="setTimeout(lerMais, 100)">Ler mais</button>
                    </p>
                </div>
            </div>
        </div>
    </main>
    <script src="/assets/js/lerMais.js"></script>
</body>

</html>