<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/dashboard.css">
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/assets/img/logo.png" alt="">
                    <h2>MEU STU<span class="danger">DIO</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="/dashboard">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Painel</h3>
                </a>
                <a href="/clientes">
                    <span class="material-icons-sharp">person_outline</span>
                    <h3>Clientes</h3>
                </a>
                <a href="/agendar">
                    <span class="material-icons-sharp">event</span>
                    <h3>Agendar</h3>
                </a>
                <a href="/salas" class="active">
                    <span class="material-icons-sharp">receipt_long</span>
                    <h3>Salas</h3>
                </a>
                <a href="/equipamentos">
                    <span class="material-icons-sharp">inventory</span>
                    <h3>Equipamentos</h3>
                </a>
                <a href="/configuracoes">
                    <span class="material-icons-sharp">settings</span>
                    <h3>Configurações</h3>
                </a>
                <a href="/logout">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Sair</h3>
                </a>
            </div>
        </aside>
        <main>
            <h1>Painel de Controle</h1>
            <form action="/nova-sala-cadastrar" method="post">
                <h2>Cadastro de Sala</h2>
                <div class="inputs">
                    <p>Insira o número da sala:</p>
                    <input type="text" placeholder="Número da sala" name="id_sala" required>
                    <p>Insira um novo horário disponível:</p>
                    <input type="time" placeholder="Data" name="horario_disp1" required>
                    <p>Insira um novo horário disponível:</p>
                    <input type="time" placeholder="Data" name="horario_disp2">
                    <p>Insira um novo horário disponível:</p>
                    <input type="time" placeholder="Data" name="horario_disp3">
                    <p>Valor por Ensaio:</p>
                    <input type="text" placeholder="Valor por Ensaio" name="valor_ensaio" id="valor_ensaio" required>
                    <p>Valor por Gravação:</p>
                    <input type="text" placeholder="Valor por Gravação" name="valor_gravacao" id="valor_gravacao" required>
                </div>
                <button type="submit">Confirmar nova sala</button>
            </form>
        </main>

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Olá, <b>Gustavo</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="/assets/img/profile-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="recent-updates">
                <h2>Últimas Atualizações</h2>
                <div class="updates">
                    <div class="update">
                        <div class="profile-photo">
                            <img src="/assets/img/profile-2.jpg" alt="">
                        </div>
                        <div class="message">
                            <p><b>Gustavo Lobo</b> cadastrou um novo cliente.</p>
                            <small class="text-muted">2 minutos atrás</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img src="/assets/img/profile-3.jpg" alt="">
                        </div>
                        <div class="message">
                            <p><b>Lucas Taborda</b> criou um novo agendamento.</p>
                            <small class="text-muted">3 dias atrás</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img src="/assets/img/profile-4.jpg" alt="">
                        </div>
                        <div class="message">
                            <p><b>Carlos</b> cadastrou um novo equipamento.</p>
                            <small class="text-muted">5 dias atrás</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sales-analytics">
                <h2>Análise de Agendamentos</h2>
                <div class="item online">
                    <div class="icon">
                        <span class="material-icons-sharp">shopping_cart</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>GANHOS</h3>
                            <small class="text-muted">Últimas 24 horas</small>
                        </div>
                        <h5 class="success"></h5>
                        <h3>0</h3>
                    </div>
                </div>
                <div class="item offline">
                    <div class="icon">
                        <span class="material-icons-sharp">local_mall</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>AGENDAMENTOS</h3>
                            <small class="text-muted">Últimas 24 horas</small>
                        </div>
                        <h5 class="danger"></h5>
                        <h3>0</h3>
                    </div>
                </div>
                <div class="item customers">
                    <div class="icon">
                        <span class="material-icons-sharp">person</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>NOVOS CLIENTES</h3>
                            <small class="text-muted">Últimas 24 horas</small>
                        </div>
                        <h5 class="success"></h5>
                        <h3>0</h3>
                    </div>
                </div>
                <div class="item add-product">
                    <div>
                        <span class="material-icons-sharp">add</span>
                        <h3>Novo Agendamento</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="/assets/js/dashboard.js"></script>
</body>
</html>