<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/inicio.css">
    <title>BACKTRACK</title>
</head>

<body>
    <header>
        <div class="menu-content">
            <h1 class="logo">BACKTRACK</h1>
            <nav class="header-menu">
                <ul class="list-itens">
                    <li><a class="nav-link active" href="/inicio">Início</a></li>
                    <li><a class="nav-link" href="/sobre">Sobre</a></li>
                    <li><a class="nav-link" href="/cadastro">Cadastro</a></li>
                    <li><a class="nav-link" href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="main-content">
            <h1 class="sobre"><span>Sobre</h1>
            <h2 id="sobre">O uso de softwares gestores são primordiais para o bom funcionamento e
                organização de qualquer atividade profissional atualmente. Seu uso proporciona
                uma série de vantagens, dentre elas a agilidade para resolver pequenas rotinas
                administrativas e proporcionar uma interação com seus clientes.
                É importante destacar que o trabalho do profissional de estúdio engloba
                diversos conhecimentos técnicos e inclui na maioria dos casos, tarefas de rotina e de
                administração de empresa que, se não forem tratadas de forma organizada, podem
                gerar uma série de desvantagens para os clientes e principalmente à empresa.
                Esse gerenciador irá proporcionar ao profissional uma forma mais prática e
                ágil de resolver rotinas e apresentar relatórios sobre o que está sendo produzido
                dentro do estúdio, trazendo mais transparência e credibilidade aos seus clientes.</h2>
        </div>
    </main>
</body>

</html>